#app,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  font-size: 8vw;
  font-weight: 700;
  letter-spacing: -0.03em;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;

  color: transparent;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, 0.05);
}

.title span {
  display: block;
  position: relative;
  -o-box-flex: 0;
  box-flex: 0;
  -ms-flex: none;
  flex: none;
  white-space: pre;
}

a.link {
  transition: border-bottom-color 0.2s ease, color 0.2s ease;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.25);
  text-decoration: none;
}

a.link:hover {
  border-bottom-color: transparent;
  color: #47a3da !important;
  text-decoration: none;
}

.content {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

.content a {
  color: #f8f9fa;
}

@media screen and (max-width: 736px) {
  .content p {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin: 0 0 1em 0;
  }
}

.fit__text {
  font-size: 8vw;
  color: transparent;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.6),
    0px 4px 4px rgba(0, 0, 0, 0.05);
}

.content .social-icons a:hover,
.content .links li a:hover {
  color: #47a3da;
}

.content {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

li {
  float: left;
  list-style: none;
}

.content .social-icons {
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.content .social-icons a {
  display: inline-block;
  margin-left: 15px;
  font-size: 13px;
  color: #fefefe;
  transition: all cubic-bezier(0.75, 0, 0.25, 1) 0.5s;
}

/*=================================*/

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}

.typed-cursor {
  font-weight: 100;
}

#typed {
  transition: all ease-in-out 0.5s;
  -webkit-transition: all cubic-bezier(0.75, 0, 0.25, 1) 0.5s;
  color: transparent;
  text-shadow: 0px 0px 1px rgba(71, 163, 218, 0.9),
    0px 4px 4px rgba(0, 0, 0, 0.05);
}

#bottom {
  position: fixed;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bottom p {
  margin-top: 0;
  margin-bottom: 0px;
}

#ICP {
  color: #f8f9fa;
}

@media screen and (max-width: 700px) {
  .links a {
    font-size: 3vw;
  }
  #app .title {
    font-size: 15vw;
  }
  .fit__text {
    font-size: 12vw;
  }
}
